#brows_auto{        /* 補助画面全体 */
	width: 170px;
	height: 50px; !important;
	color: #ffffcc;
	background-color: #009999;
	line-height: 1.5;  !important;
}
#brows-path{        /* password部分 */
	width: 50px;  !important;
}

#brows_auto a{      /* anchor部分 */
	display: inline-block;
	width: 50px;
	color: #00bbff;
}
.browsjp{           /* ver2 */
	color: #FFF;
	background: #009999;
	border: 1px solid #009999;
	padding: 2px 5px;
	border-radius: 5px;
}
